*{
    max-width:1200px;
    margin: 8px;
    padding: 8px;
    box-sizing: border-box; /* border box mante el tamany dels elements i serveix per no trencar el box model*/
}
.main{
    display: flex; /*posa el contingut en linea*/
    flex-flow: column nowrap; /*combina flex direction i flex wrap*/
    justify-content: space-around; /*justifica el contingut en aquest cas: distribuits uniformement amb  espai igual entre ells*/
}

.main-header{
    background: black;
    display: flex;
    flex-flow: column nowrap;
}

.main-menu{
    background: rgb(53, 53, 87);
    display: flex;
    flex-direction: row nowrap;/*row significa de esquerra a dreta i nowrap significa que els elements flex estan en una sola linea(wrap seria en varies linies*/
}
.logo{
    background: rgb(246, 87, 87);
    flex: 1 1 auto; /*flex significa q sadapti a tot el espai disponible en ample, 1 es flex grow i laltre flex shrink, auto vol dir q sera flexible*/
}

.nav{
    background: rgb(246, 87, 87);
    flex: 6 1 auto;
}

.social{
    background: rgb(246, 87, 87);
    flex: 1 1 auto;
}

.title{
    background: rgb(218, 123, 28);
}

.main-title{
    background: rgb(245, 211, 75);
}

.main-section{
    background: #000000;
    display: flex;
}
.groups{
    background: rgb(72, 80, 120);
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.group{
    background: rgb(69, 69, 255);
    flex: 1 1 40%;
}

.section-nav{
    background:rgb(129, 170, 170);
    flex: 1 1 100%;
}

.main-aside{
    background: rgb(234, 72, 72);
    flex: 1 1 auto;
}

.aside-commercial{
    background: rgb(255, 255, 116);
    display: flex;
}
.main-footer{
    background: black;
    display: flex;
}

.footer-nav{
    background: rgb(207, 184, 53);
    display: flex;
    flex: 1 1 auto;
}

/*tablet*/
@media only screen and (max-width: 800px){
    .main-section{
        background: yellow;
        display: block;
    }
    .main-aside{
        background: rgb(234, 72, 72);
        flex: 1 1 auto;
        display:flex;
        flex-direction: column;
    }
    
}

/*mobile*/
@media only screen and (max-width: 480px){
    .main-menu{
        background: rgb(53, 53, 87);
        display: flex;
        flex-direction: column;
    }

    .groups{
        background: rgb(1, 95, 124);
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
        flex-direction: column;
    }
    .group{
        background: rgb(108, 163, 187);
        flex: 1 1 40%;
    }
    
    .section-nav{
        background:rgb(158, 226, 226);
        flex: 1 1 100%;
    }
    .main-aside{
        background: rgb(234, 102, 72);
        flex: 1 1 auto;
    }
    
    .aside-commercial{
        background: rgb(255, 179, 132);
        display: flex;
    }

}